{% extends 'base.html.twig' %}
{% block title %}Erreur 405 - Méthode non autorisée{% endblock %}
{% block body %}
    <h1>405 - Méthode non autorisée ❌</h1>
    <p>La méthode HTTP utilisée n’est pas autorisée pour cette ressource.</p>
{% endblock %}
